body {
    background-color: #9DB2BF; 
  }


.first-card{
    margin-top: 2em;
    margin-bottom: 4em;
    background-color: #27374D;
}
@media (min-width: 576px) {
    .first-card{
        margin-left: 5em;
        margin-right: 5em;
    }
}

.out-card{
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: transparent;
}
@media (min-width: 576px) {
  .out-card{
      margin-left: 6em;
      margin-right: 6em;
  }
}

.footer-card{
  margin-top: 4em;
  margin-bottom: 1em;
  background-color: #27374D;
}
@media (min-width: 576px) {
  .footer-card{
      margin-left: 5em;
      margin-right: 5em;
  }
}

.in-card{
  background-color: #025464;

}


.social-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

.social-icons i {
    margin: 0.5em;
    font-size: 2em; 
    color: #DDE6ED;
  }

.display-2 {
    font-weight: 600;
    background-image: repeating-linear-gradient(to right, #D4ADFC, #FFE194 20%, #BE5A83 30%);
    color: transparent;
    background-clip: text;
  -webkit-background-clip: text;
}

.display-4 {
    color: #DDE6ED;
}

h5 {
    font-weight: 350;
    color: #DDE6ED;
    text-align: justify;
}

mark {
    color: #27374D;
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
    animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    background: linear-gradient(to left, transparent 51%, #DDE6ED 0%) right;
    background-size: 200% 100%;
    background-position: 100% 0;
}

@-webkit-keyframes highlight {
    to {
      background-position: 0 0;
    }
  }
  
@keyframes highlight {
    to {
      background-position: 0 0;
    }
  }

.name_surname {
    margin-top: 1em;
    margin-bottom: 1em;
}


.li_contents {
    counter-increment: index; 
    display: flex;
    align-items: center;
    padding: 12px 0;
    box-sizing: border-box;
  }
  
  
  /* Element counter */
.li_contents::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 3rem;
    text-align: right;
    font-weight: 900;
    min-width: 50px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: repeating-linear-gradient(to left, #D4ADFC 5%, #FFE194 10%, #BE5A83 15%);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  /* Element separation */
.li_contents + .li_contents {
    border-top: 1px solid rgba(255,255,255,0.2);
  }

.li_contact + .li_contact  {
    border-top: 1px solid rgba(255,255,255,0.2);
  }

.li_contact {
    padding-top: 1em;
    padding-bottom: 1em;
  }

.link {
    font-weight: 300;
    color: #DDE6ED;
    font-size: 2rem;
    text-decoration: none;
    background: linear-gradient(to left, transparent 52%, #DDE6ED 0%) right;
    background-size: 200% 100%;
    transition: 0.5s ease-out;
  }
  
.link:hover {
    background-position: left;
    color: #27374D;
  }
  
.ul_contents {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.number {
  font-weight: 600;
  font-size: 8em;
  background-image: repeating-linear-gradient(to left, #D4ADFC 50%, #FFE194 100%, #BE5A83 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.title{
  text-align: center;
}
 
.contact-text{
  text-align: center;
  color: #DDE6ED;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.no-margin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 2em; 
  color: #DDE6ED;
}

.rights {
  font-size: 1em;
}