body {
  background-color: #000000; 
}

.white-shadow {
  box-shadow: 0.6em 0.7em 0 1em rgba(255, 255, 255, 1);
}

.navbar-transparent-blur {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(10px); 
}

.navbar-toggler {
  margin-left: auto;
}

.navbar-toggler:focus{
  box-shadow: none;
}

.custom-nav-link {
  position: relative; 
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  margin: 0 2rem;
  color: #DDE6ED;
  text-decoration: none; 
  transition: color 1s ease;
}

.card_link{
  position: relative;
  display: flex;
  color: #DDE6ED;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  padding-block: 1em;
  padding-inline: 1em;
  font-size: 1.25em;
  font-weight: 300;
  transition: color 1s ease;
}
  
.link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 100%; 
  background-color: #DDE6ED; 
  transition: width 1s ease, left 1s ease;
  z-index: -1;
}
  
.link:hover::after {
  width: 100%;
  left: 0; 
  bottom: 0;
}

.link:hover {
  color: black; 
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.social-icons i {
  margin: 0.5em;
  font-size: 2em; 
  color: #DDE6ED;
}

.display-2 {
  font-weight: 600;
  background-color: #DDE6ED;
  color: transparent;
  background-clip: text;
-webkit-background-clip: text;
}

.display-4 {
  color: #DDE6ED;
}

.display-8 {
  font-size: 1.25em;
  font-weight: 300;
  color: #DDE6ED;
}

h5 {
  font-weight: 350;
  color: #DDE6ED;
  text-align: justify;
}

mark {
  color: #DDE6ED;
  background-color: black;
  height: 100%;
  animation: highlight 1s ease forwards 2s;
}

@keyframes highlight {
  from {
    color: #DDE6ED;
    background-color: black;
  }
  to {
    color: black;
    background-color:#DDE6ED;
  }
}

.name_surname {
  margin-top: 1em;
  margin-bottom: 1em;
}


.li_contents {
  counter-increment: index; 
  display: flex;
  align-items: center;
}

.li_contact {
  padding-top: 1em;
  padding-bottom: 1em;
}

.ul_contents {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title{
text-align: center;
}

.contact-text{
display: flex;
text-align: center;
color: #DDE6ED;
font-size: 1.25em;
font-weight: 300;
display: flex;
align-items: center;
padding-inline: 1em;
}

.no-margin {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
font-size: 2em; 
color: #DDE6ED;
}

.rights {
font-size: 1em;
}

.description {
line-height: 1.5;
}

.floating-cv {
position: fixed;
bottom: 1.5em;
right: 0;
z-index: 1000;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
background-color: #DDE6ED;
padding: 1em 1em;
text-align: center;
}
.floating-cv:hover {
background-color: #dde6edcc;
}
.btn-primary {
background-color: transparent;
border-color: transparent;
font-weight: 400;
font-size: 1.5em;
color: black;
--bs-btn-focus-shadow-rgb: 0, 0, 0;
--bs-btn-border-color: transparent;
--bs-btn-hover-border-color: transparent;
--bs-btn-active-bg: transparent;
--bs-btn-disabled-bg: transparent;
--bs-btn-bg: transparent;
--bs-btn-active-border-color: transparent;
}
.btn-primary:hover {
background-color: transparent;
border-color: transparent;
}